BasedOnStyle: LLVM
Language: Cpp
AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
BreakBeforeConceptDeclarations: Always
AlwaysBreakTemplateDeclarations: true
EmptyLineAfterAccessModifier: Never
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IndentRequires: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: false
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false
BreakInheritanceList: BeforeColon
SeparateDefinitionBlocks: Always
PenaltyBreakAssignment: 1